.header {
  background-color: #026aa7;

  color: #eefcff;

  padding: 20px;

  height: 67px;
}
.header__inner {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  align-items: center;
}
.header__inner div:nth-child(4) {
  cursor: pointer;
}
.logo a {
  color: #eefcff;
}
.account {
  justify-self: end;

  cursor: pointer;
}
.account-avatar {
  width: 64px;
}
.account__menu {
  position: absolute;

  text-align: center;
  color: #172b4d;

  width: 304px;

  background-color: #ffffff;

  box-shadow: 0 8px 16px -4px rgb(9 30 66 / 25%), 0 0 0 1px rgb(9 30 66 / 8%);

  transform: translateX(-236px) translateY(10px);
}
.account__menu-title {
  margin: 20px 0;
}
.account__menu ul {
  margin: 15px 0;
}
.account__menu ul li {
  margin-bottom: 20px;
}
.account__menu button {
  position: absolute;

  cursor: pointer;

  border: none;
  outline: none;

  background-color: transparent;

  font-weight: 600;
  font-size: 16px;
  color: #172b4d;

  transform: translateX(127px) translateY(-126px);
}

.account__menu-title::after {
  content: "";

  position: absolute;

  background-color: #dfe2e7;

  width: 280px;
  height: 2px;

  transform: translateX(-169px) translateY(21px);
}

.favorites,
.recent {
  cursor: pointer;
}
.favorites ul,
.recent ul {
  position: absolute;
  transform: translate(-2px, 20px);

  background-color: #ffffff;

  padding: 15px 15px 5px 15px;

  width: 10%;

  box-shadow: 0 8px 16px -4px rgb(9 30 66 / 25%), 0 0 0 1px rgb(9 30 66 / 8%);

  border-radius: 3px;

  z-index: 1;
}
.favorites ul li,
.recent ul li {
  margin-bottom: 24px;

  color: #091e42;
}
.favorites ul li:nth-child(1),
.recent ul li:nth-child(1) {
  text-align: center;

  color: #5e6c84;
}
.favorites ul li:nth-child(1)::after,
.recent ul li:nth-child(1)::after {
  content: "";

  position: absolute;

  background-color: #dfe2e7;

  width: 200px;
  height: 2px;

  transform: translateX(-128px) translateY(21px);
}
.favorites ul li a,
.recent ul li a {
  color: #091e42;
}
