.boardsMenu {
  background-color: #fafbfc;
}
.header {
  background-color: #026aa7;

  color: #eefcff;

  padding: 20px;
}
.header__inner {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  align-items: center;
}
.header__inner div:nth-child(4) {
  cursor: pointer;
}
.account {
  justify-self: end;

  cursor: pointer;
}
.account-avatar {
  width: 64px;
}
.account__menu {
  position: absolute;

  text-align: center;
  color: #172b4d;

  width: 304px;

  background-color: #ffffff;

  box-shadow: 0 8px 16px -4px rgb(9 30 66 / 25%), 0 0 0 1px rgb(9 30 66 / 8%);

  transform: translateX(-236px) translateY(10px);
}
.account__menu-title {
  margin: 20px 0;
}
.account__menu ul {
  margin: 15px 0;
}
.account__menu ul li {
  margin-bottom: 20px;
}
.account__menu button {
  position: absolute;

  cursor: pointer;

  border: none;
  outline: none;

  background-color: transparent;

  font-weight: 600;
  font-size: 16px;
  color: #172b4d;

  transform: translateX(127px) translateY(-126px);
}

.account__menu-title::after {
  content: "";

  position: absolute;

  background-color: #dfe2e7;

  width: 280px;
  height: 2px;

  transform: translateX(-169px) translateY(21px);
}
.boards ul {
  margin-top: 120px;

  display: grid;
  grid-gap: 16px;
  grid-template-columns: repeat(4, 196px);
  grid-template-rows: 96px;
}

.board {
  display: grid;
  grid-template-rows: 1fr;

  text-align: start;

  font-weight: 700;

  background-color: rgb(0, 121, 191);
}
.board::after {
  content: "";

  opacity: 0;

  transform: translateX(-1px) translateY(-96px);

  width: calc(100% + 1px);
  height: calc(100% + 96px);

  background-color: rgba(0, 0, 0, 0.22);

  transition: 0.6s cubic-bezier(0, 0.55, 0.45, 1);
}
.board:hover::after {
  opacity: 1;
}
.board a {
  color: #fff;

  padding: 8px;

  z-index: 1;
}

.createBoards {
  text-align: center;
}
.createBoards button {
  cursor: pointer;

  width: 196px;
  height: 96px;

  border: none;
  border-radius: 3px;

  outline: none;

  background-color: #e7e9ed;

  font-size: 14px;
  font-weight: 400;
  color: #172b4d;
}

.menuCreateBoard__inner {
  display: grid;
  grid-template-columns: 1fr;
  grid-gap: 10px;

  position: absolute;
  z-index: 2;

  transform: translateX(544px) translateY(-100px);
}
.blackBG {
  position: absolute;
  z-index: 1;
  top: 0;

  width: 100%;
  height: 100%;

  background-color: rgba(0, 0, 0, 0.75);
}
.menuCreateBoard__inner input {
  height: 28px;
  width: 185px;

  border-radius: 5px;

  padding: 0 35px 0 8px;
  margin: 20px 0 0 10px;

  background-color: transparent;

  color: #fff;
}
.menuCreateBoard__inner input::placeholder {
  color: rgba(255, 255, 255, 0.664);
}
.menuCreateBoard__inner input:focus {
  padding: 0 35px 0 8px;

  font-size: 16px;

  background: rgba(255, 255, 255, 0.3);
}
.menuCreateBoard__inner button:nth-child(2) {
  width: 105px;
  height: 32px;

  grid-area: 2 / 1 / 2 / 1;

  justify-self: start;

  border-radius: 5px;

  background-color: #f4f5f7;

  font-size: 14px;
  color: #a5adba;

  cursor: pointer;

  transition: 0.6s cubic-bezier(0.25, 1, 0.5, 1);
}
.menuCreateBoard__inner button.activeCreate {
  color: #fff;

  background-color: rgb(0, 121, 191);
}

.menuCreateBoard__inner button:nth-child(3) {
  position: absolute;

  transform: translateX(266px) translateY(7px);

  background-color: transparent;

  color: #fff;

  cursor: pointer;
}
.settingsBoard {
  width: 296px;
  height: 96px;

  background-color: rgb(0, 121, 191);

  border-radius: 5px;
}
